@model List<Writing.Platform.Models.Domain.Genre>

@{
}
<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col">
            <h1 class="m-0">List of Genres</h1>
        </div>
        <div class="col-auto ml-auto">
            <a class="btn btn-dark btn-sm" asp-controller="Genre" asp-action="Add">Add New Genre</a>
        </div>
    </div>
</div>

<div class="container py-1">
    @{
        int i = 0;
    }
    @if (Model != null && Model.Any())
    {

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var genre in Model)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                        <td>@genre.Name</td>
                        <td>@genre.Description</td>
                        <td>
                            <a class="btn btn-dark btn-sm" asp-area="" asp-controller="Genre" asp-action="Edit" asp-route-id="@genre.Id">Edit</a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>

    }
    else
    {
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1 class="display-4 text-danger">Oops!</h1>
                <p class="lead">We couldn't find any Genre in database</p>
                <hr class="my-4">
                <p>Here are some helpful links instead:</p>
                <div class="mt-4">
                    <a href="/" class="btn btn-primary btn-lg">Go to Home</a>
                    <a class="btn btn-outline-secondary btn-lg" asp-area="" asp-controller="Genre" asp-action="Add">Add New Genre</a>
                </div>
            </div>
        </div>
    }
</div>
