@{
    ViewData["Title"] = "Error - AccessDenied";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1 class="display-4 text-danger">Oops!</h1>
            <p class="lead">You are no Permission to access this page </p>
            @* <p class="text-muted">It seems like the Genre you're trying to Edit/Delete doesn't exist or has been removed.</p> *@
            <hr class="my-4">
            @* <p>Here are some helpful links instead:</p> *@
            <div class="mt-4">
                <a href="/" class="btn btn-primary btn-lg">Go to Home</a>
            </div>
        </div>
    </div>
</div>